body{
    background-color: rgb(168, 219, 240);

}
h1{
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
}
.game-card{
    width: 300px;
}
.game-card img{
    width: 300px;
    border-radius: 10px;
}
.game-card h3{
    text-align: center;
    font-family: sans-serif;
}
.game-grid{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 20px;
}