body{
    background-color: rgb(168, 218, 240);

}
h1{
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
}
.game-card{
    width: 300px;
}
.game-card img{
    width: 300px;
    height: 200px;
    object-fit: contain;
    border-radius: 10px;
}
.game-card h3{
    text-align: center;
    font-family: sans-serif;
}
.game-grid{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 20px;
    justify-content: center;
}
