body{
    background-image: url("images/GameBG.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
h1{
    text-align: center;
    font-size: 65px;
    font-family: "Audiowide";
    font-weight: 250;
    font-style: normal;
    color: white;
    padding-top: 15px;
}
h2{
    color: white;
    margin-left: 175px;
    margin-top: 100px;
    margin-bottom: 20px;
    font-family: "Audiowide";
    font-weight: 100;
    font-size: 40px;
}
h3{
    color: white;
    font-family: "Audiowide";
    font-weight: 100;
}
.game-card{
    width: 300px;
}
.game-card img{
    width: 300px;
    height: 200px;
    object-fit: contain;
    border-radius: 10px;
}
.game-card h3{
    text-align: center;
}
.game-grid{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 20px;
    justify-content: center;
}
